@import "../../styles/variables.module.scss";

.actions {
    button {
        margin-bottom: 6px;
    }
}

.results {
    p.noResults {
        font-size: $font-m;
        text-align: center;
    }
}

.sort {
    display: flex;
    justify-content: right;
    align-items: center;
}