@import "../../styles/variables.module.scss";

.container {
    width: 100%;
    background-color: $lightBrown;
    margin: $spacer-m 0;
    border-radius: $spacer-s;
    display: flex;
    flex-direction: column;
    padding: $spacer-s;

    h2 {
        text-align: center;
        margin: $spacer-s 0;
    }

    .details {
        display: flex;

        .left {
            width: 50%;

            p {
                margin: 0;
                font-size: $font-s;
                font-weight: 200;
            }
        }

        .right {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            p {
                margin: 0;
                font-size: $font-xm;
                font-weight: bold;

                &.bold {
                    margin-top: 6px;
                    font-weight: 600;
                }
            }

            a {
                background-color: $brown;
                text-decoration: none;
                color: $white;
                font-size: $font-s;
                border-radius: $spacer-xs;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: $spacer-m;

                .icon {
                    width: $spacer-s;
                    margin-right: $spacer-xs;
                }
            }
        }
    }

    .actions {
        display: flex;
        margin-top: $spacer-s;
        a {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-s;
            color: $brown;

            .icon {
                width: $spacer-s;
                margin-right: $spacer-xs;
            }

            &.like {
             font-weight: bold;
             color: $green;
            }

            &.dislike {
                font-weight: bold;
                color: $strongRed;
               }
        }
    }
    .noLink {
        a {
            width: 33.3%;
        }
    }
}