@import "../../styles/variables.module.scss";

.title {
    text-align: center;
    font-size: $font-m;
    color: $secondaryStrong;
    margin: 0;
}

.white{
    @media (max-width: $breakPointTablet) {
        color: $white;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    }
}
