@import "../../styles/variables.module.scss";

.dropdownContainer {
    font-size: $font-s;
    padding: $spacer-s 0;
    
    label {
        margin-right: $spacer-xs;
        font-weight: 300;
    }

    select {
        font-size: $font-s;
        height: $spacer-m;
        background-color: $primary;
        border: none;
        border-radius: $spacer-xs;
        color: $white;
        width: calc($spacer-xxl);
        font-weight: 300;
    }
}