@import "../../styles/variables.module.scss";

.notification {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: $font-xm;
    padding: $spacer-s;
    background-color: $primary;
    color: $white;
    font-weight: bold;
}