//-------------------- Breakpoints --------------------//

$breakPointPhone: 480px;
$breakPointTablet: 769px;


//-------------------- Spacers --------------------//
$spacer-xxs: 3px;
$spacer-xs: 6px;
$spacer-s: 12px;
$spacer-m: 24px;
$spacer-l: 36px;
$spacer-xl: 48px;
$spacer-xxl: 84px;
$spacer-xxxl: 108px;

//-------------------- Fonts --------------------//

$body-font: 'Kumbh Sans', sans-serif; 

$font-xs: 6px;
$font-s: 12px;
$font-xm: 14px;
$font-m: 24px;
$font-l: 36px;

//-------------------- Colors --------------------//
$green: #7CAE7A;
$white: #FFFFFF;
$brown: #7D6D61;
$lightBrown: #E0DBD9;
$lightRed: #FEEFF1;
$strongRed: #aa3838;
$black: #000000;